table {
	border-spacing: 0px;
	border-collapse: collapse;
}
caption {
	font-weight: 800;
}
td,
th,
caption {
	border: 3px solid rgb(245, 203, 231);
}
caption {
	border-bottom: none;
}
.color {
	background-color: rgb(239, 222, 238);
}
.color1 {
	color: rgb(255, 0, 200);
}
